# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
zbrox.xcuserdatad
midway-server/config/foursquare.yml
midway-server/db/development.sqlite3
midway-server/log/development.log
midway-server/tmp/
midway-server/config/parse.yml